name: CI Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libgirepository1.0-dev \
          libgirepository-2.0-dev \
          libglib2.0-dev \
          libcairo2-dev \
          pkg-config \
          gir1.2-glib-2.0 \
          gir1.2-adw-1 \
          gir1.2-gtk-4.0

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGObject
          pip install requests markdown pytest requests-mock

      - name: Run Pytest
        env:
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          pytest tests/