name: CI Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: quay.io/gnome/sdk:45

    steps:
      - uses: actions/checkout@v4

      - name: Install Test Dependencies
        run: |
          pip3 install pytest requests-mock requests markdown

      - name: Run Pytest
        env:
          G_MESSAGES_DEBUG: all
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          pytest tests/